@keyframes animacao {
    from{background-color: red;}
    to {background-color: yellow;}
}
@keyframes animacao2 {
    0% {}
    30% {width: 100px;}
    60% {background-color: red;}
    80% {left: 100px; background-color: aquamarine;}
    100% {height:100px ;}
}
@keyframes animacao3 {
    from {left: 0;}
    to {left: 200px; background-color:grey;}
}

@keyframes animacao4 {
    from {left:0}
    to {left: 500px;}
}

@keyframes animacao5 {
    0% {left: 0;}
    25% {left: 20px; background-color: blue;}
    57% {left: 100px; background-color: orange;}
    100% {right: 30px; background-color: red;}
}

.animation-div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animacao;
    animation-duration: 2s;
}

.animation-div2 {
    width: 200px;
    height: 200px;
    background-color: black;
    animation-name: animacao2;
    animation-duration: 5s;
    position: relative;
}

.animation-div3 {
    width: 100px;
    height: 100px;
    background-color: purple;
    position: relative;
    animation-name: animacao3;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.box {
    background-color: orange;
    width: 50px;
    height: 50px;
    position: relative;
    animation-name: animacao4;
    animation-duration: 3s;
    animation-timing-function: infinite;
}

#animation-div4 {
    animation-timing-function: linear;
}

#animation-div5 {
    animation-timing-function: ease;
}

#animation-div6 {
    animation-timing-function: ease-in;
}

#animation-div7 {
    animation-timing-function: ease-out;
}

#animation-div8 {
    animation-timing-function: ease-in-out;
}

#animation-div9  {
    background-color: darkblue;
    width: 50px;
    height: 50px;
    position: relative;
    animation: animacao5 7s ease-out 2s infinite;
}
.btn {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    width: 150px;
    height: 75px;
    color: #FFF;
    text-transform: uppercase;
    background-color: #333;
    border: 4px solid #333;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover {
    color: #333;
    background-color: #FFF;
}
.trasition {
    width: 50px;
    height: 100px;
    background-color: red;
}

.div-calc {
    height: 250px;
    width: 500px;
    position: relative;
    margin: 20px;
    background-color: #000;
    border: 1px solid red;
}

.innerdiv-calc {
    height: 45px;
    margin: 15px;
    position: relative;
    background-color: red;
}

.calc1 {
    width: calc(50% + 50px);
}

.calc2 {
    width: calc(50% - 50px);
}

.calc3 {
    width: calc(50% * 0,5);
    margin: 0;
}

.calc4 {
    width: calc(50% / 2);
}



.gradient1 {
    background-image: linear-gradient(purple,blue);
}

.gradient2 { 
    background-image: linear-gradient(to right , purple, blue );
}
.gradient3 { 
    background-image: linear-gradient(to left , red, yellow );
}

.gradient4 { 
    background-image: linear-gradient(to top , red, yellow );
}

.gradient5 { 
    background-image: linear-gradient( green, yellow, orange, grey );
}
.gradient-box {
    width: 500px;
    height: 200px;
    position: relative;
    margin: 30px;
}

.gradient7 { 
    background-image: radial-gradient(red, blue, green);
}

.gradient8 {
    background-image: radial-gradient(red 10%, blue 30%, green 50%);
}

.gradient9 {
    background-image: radial-gradient(circle, red, blue, green);
}



